body{
    background-image:url("https://www.josalukkasonline.com/assets/images/dropdown/our-brands.webp");
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color:rgb(6, 7, 6)
}
h1:hover{
    background-color: rgb(15, 15, 15);
    color:rgb(228, 221, 221);
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
h2{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color:rgb(6, 7, 6)
  }
.row{
    padding-left: 100px;
}
.column{
    background-color: aliceblue;
  border: solid;
  border-width: 2px;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  display:inline-block;
  padding-right: 30px;
  padding-bottom: 20px;
}
.buy{
    display:inline;
    background-color: rgba(161, 26, 26, 0.918);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    cursor:pointer;
    color:antiquewhite;
  }